{
  "presets": ["stage-2", "react"],
  "plugins": [
    "transform-async-to-generator",
    "transform-es2015-modules-commonjs",
    "transform-decorators-legacy",
    ["flow-runtime", {
      "warn": true,
      "annotate": true
    }]
  ]
}
